*.md
!README.md
!README_EN.md
!CHANGELOG.md
!CHANGELOG_EN.md
!docs/
!docs/*.md
.gradle
.idea
app/build
build/
app/release
build/reports/problems/problems-report.html
.worktrees/
dev_docs/
.crush
tools/
dist/
app/src/pro/
app/oss
app/pro
fcitx5-android-lexi-keyboard/
website/