*.md
!README.md
!README_EN.md
!CHANGELOG.md
!CHANGELOG_EN.md

local.properties

.gradle
.idea

app/build
build/
app/release
build/reports/problems/problems-report.html
dev_docs/
tools/
dist/
app/src/pro/
app/oss
pro-dev/
fcitx5-android-lexi-keyboard/
website/
openspec/